# Large 18-up images for PPG
*-18.png

# Large images
tokyo-map*-300dpi.png
tokyo-map*-300dpi.jpg

# Affinity Publisher docs
*.afpub

ref/*
paris/ref/*
london/ref/*

pnp/cards-bw/*
pnp/cards-color/*
pnp/map-images/*

images/screenshots/*
components/tabletopia/*
design-notes/*
