.DS_Store
*.pyc
*.blend1

# Large 18-up images for PPG
*-18.png

# Large images
tokyo-map*-300dpi.png
tokyo-map*-300dpi.jpg
map/map*-150dpi.png

ref/*
gamedev/london/_ref/*
gamedev/osaka/_ref/*
gamedev/paris/_ref/*

# Temp files for generating PNP files
pnp/cards-bw/*
pnp/cards-color/*
pnp/map-bw/*
pnp/map-color/*
pnp/screen/*

images/screenshots/*
design-notes/ref/*
