ref/*
tokyo-map-v01/*
tokyo-map-v02/*
tokyo-map-v03/*
tokyo-map-v04/*

# Large 18-up images for PPG
*-18.png

# Large images
tokyo-map-18x20-300dpi.png
tokyo-map-18x20-bleed-300dpi.png
tokyo-map-border-300dpi.png

# Affinity Publisher docs
*.afpub
